@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --bg: #1a191e;
    background-color: var(--bg);
    color: #fdfdfd;
    font-family: 'Raleway', sans-serif;
}


/* spinner */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* scrollbva */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #272e39;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #525e75;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2a52ff;
}